# Build output / Maven target (incluye reportes de Allure)
/target/
build/
*.class

# Allure report outputs (en caso de que se generen fuera de target)
/allure-results/
/allure-report/
/.allure/

# IntelliJ IDEA workspace & temporales
.idea/
*.iws
*.iml
*.ipr
/shelf/
/workspace.xml
/httpRequests/
/queries/
/dataSources/
/dataSources.local.xml

# Logs & temporales del sistema
*.log
.DS_Store
Thumbs.db